.hero-wrapview {
    height: 60vh;
    background-size: cover;
    background-position: center;
  }
  
  .hero-wrapview-2 {
    position: relative;
  }
  
  .overlayview {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Overlay effect */
  }
  
  .hero-wrapview .container {
    position: relative;
    z-index: 2;
  }
  
  .text-white {
    color: white;
  }
  
  .text-center {
        text-align: center;
  }
  
  