/* Table Style */
.table {
    width: 80%;
    margin-left: 20rem;
  }
  
  /* Modal Content */
  .modal-body {
    word-wrap: break-word; /* Ensure long words break */
    overflow-wrap: break-word;
    max-width: 100%;
  }
  
  /* Modal Header */
  .modal-header {
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
  }
  
  /* Modal Footer */
  .modal-footer {
    background-color: #f7f7f7;
    border-top: 1px solid #ddd;
  }
  h1{
    margin-left: 50px;
  }
  