:root {
    --sidebar-bg-color: #343a40;
    --sidebar-font-color: white;
    --navbar-bg-color: #ffffff;  
    --sidebar-font-color: rgb(10, 10, 10);
    --sidebar-hover-color: #ddd;
    --navbar-font-color: rgb(70, 67, 67);
    --navbar-hover-color: #161616;
    --dark-navbar-bg-color: #d9534f; /* Red background for dark mode */
}

/* Sidebar */
.sidebar {
    background-color: var(--sidebar-bg-color);
    color: var(--sidebar-font-color);
}

.sidebar .nav-link {
    color: var(--sidebar-font-color);
}

.sidebar .nav-link:hover {
    color: var(--sidebar-hover-color);
}

/* Navbar Styles */
.mechanic-navbar {
    background-color: var(--navbar-bg-color);
    color: var(--navbar-font-color);
}

.mechanic-navbar .nav-link {
    color: var(--navbar-font-color);
}

.mechanic-navbar .nav-link:hover {
    color: var(--navbar-hover-color);
}

/* Dark mode Navbar */
.mechanic-navbar.dark-mode {
    background-color: var(--dark-navbar-bg-color); /* Red background in dark mode */
    color: white; /* Ensure text is white for readability */
}

.mechanic-navbar.dark-mode .nav-link {
    color: white; /* White text for links */
}

.mechanic-navbar.dark-mode .nav-link:hover {
    color: #f8f9fa; /* Slightly lighter color for link hover */
}

/* Search Form */
.search-form {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search-form .input-group {
    margin-right: 1rem;
}

.search-icon {
    background-color: var(--navbar-bg-color);
    color: var(--navbar-font-color);
}

.search-input {
    background-color: var(--navbar-bg-color);
    border: 1px solid var(--navbar-font-color);
}

/* Notifications and Messages */
.nav-icon {
    position: relative;
}
.dark-mode Navbar{
    background-color: #343a40;
}
